build/
__pycache__/
./*.c
./*.pyd
./*.pyc
gravity/*.h
gravity/*.c
gravity/*.pyd
gravity/*.pyc
gravity/*.html
gravity/__pycache__/
gravity/python_code/__pycache__
.vscode/
./*.h
./*.html
animate.cp311-win_amd64.pyd
animate.c